include views/templates/mixins.pug
include views/templates/contents.pug

- var css = './css/';
- var img = './img/';
- var js  = './js/';

mixin blockCard
  .card
    .card-body
      block

mixin blockLink(blockN)
  h5.card-title: a(href='blocks/'+ blockN +'-block.html')
    <i class="fas fa-cube"></i> #{blockN} Блок

mixin blockLabs
  ul.list-unstyled
    block

mixin labLink(blockN, labN, title)
  li: a(href='blocks/'+ blockN +'-block.html#lab-' + labN)
    <i class="fas fa-flask"></i> #{labN} #{title}

mixin extraLink(blockN, extraN, title)
  li: a(href='blocks/'+ blockN +'-'+ extraN +'.html')
    <i class="fas fa-file-code"></i> #{blockN}.#{extraN} #{title}

doctype html
html(lang='ru')
  head
    include views/templates/head.pug
    link(rel="stylesheet", href="css/index.css")
    title Администрирование БД. PL/SQL
  body
    .container
      h2 Администрирование баз данных. PL/SQL

      .row
        .col-md-6
          h3 Конспект

          p.comment В процессе создания.

        .col-md-6
          h3 Дополнительные задания

          +blockLabs
            +extraLink('3', '14', 'Пути между городами')
            +extraLink('2', '26', 'Две подстроки')
            +extraLink('1', '7', 'Информация об отделе')


      h3 Блоки

      -
        var blocks = [
          {number: 4, labs: [
            {number: 17, title: 'Создание процедур'},
            {number: 16, title: 'Создание функций'},
            {number: 15, title: 'Создание пакетов'},
            {number: 14, title: 'Работа с пакетами'},
          ]},
          {number: 3, labs: [
            {number: 13, title: 'Введение в PL/SQL'},
            {number: 12, title: 'Объявление переменных PL/SQL'},
            {number: 10, title: 'Команды исполняемой секции'},
            {number: 9,  title: 'Взаимодействие с сервером Oracle'},
          ]},
          {number: 2, labs: [
            {number: 5, title: 'Встроенные пакеты Oracle'},
            {number: 6, title: 'Использование динамического SQL'},
            {number: 7, title: 'Конструирование PL/SQL кода'},
            {number: 8, title: 'Создание триггеров'},
          ]},
          {number: 1, labs: [
            {number: 1, title: 'Управляющие конструкции'},
            {number: 2, title: 'Работа с составными типами данных'},
            {number: 3, title: 'Использование явных курсоров'},
            {number: 4, title: 'Обработка исключений'},
          ]},
        ];

      .row
        .col-md-6
          - for (var b = 0; b < blocks.length; b += 2)
            +blockCard
              +blockLink(blocks[b].number)
              +blockLabs
                each lab in blocks[b].labs
                  +labLink(blocks[b].number, lab.number, lab.title)
        .col-md-6
          - for (var b = 1; b < blocks.length; b += 2)
            +blockCard
              +blockLink(blocks[b].number)
              +blockLabs
                each lab in blocks[b].labs
                  +labLink(blocks[b].number, lab.number, lab.title)
          