include views/templates/_mixins.pug
include views/templates/_contents.pug

- var css = './css/';
- var img = './img/';
- var js  = './js/';

mixin blockCard
  .card.block-card
    .card-body
      block

mixin blockLink(blockN)
  h5.card-title: a(href='html/'+ blockN +'-block.html')
    <i class="fas fa-cube"></i> #{blockN} Блок

mixin blockLabs
  ul.list-unstyled
    block

mixin labLink(blockN, labN, title)
  li: a(href='html/'+ blockN +'-block.html#lab-' + labN)
    <i class="fas fa-flask"></i> #{labN} #{title}

mixin extraLink(blockN, extraN, title)
  li: a(href='html/'+ blockN +'-'+ extraN +'.html')
    <i class="fas fa-file-code"></i> #{blockN}.#{extraN} #{title}

html(lang='ru')
  head
    include views/templates/_head.pug
    link(rel="stylesheet", href="css/index.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Администрирование БД. PL/SQL
  body
    .container
      h2 Администрирование баз данных. PL/SQL

      h3.text-center Исходные файлы

      .card.text-center
        .card-body
          a(href="https://drive.google.com/drive/folders/11Pkvhpps8qC6pYZpUa2KYZDe29vv7rAs?usp=sharing")
            button.btn.btn-light(type="button")
              <i class="fab fa-google-drive"></i> Лабы (блоки)

          a(href="https://drive.google.com/drive/folders/1qb1I2gdK-2zMGHG8lz-dOdbwGiS2CZfQ?usp=sharing")
            button.btn.btn-light(type="button")
              <i class="fab fa-google-drive"></i> Доп. задачи

          a(href="https://drive.google.com/drive/folders/1NB1oDjWn4shu41gh9m9Tj3IeuQVCW0Z1?usp=sharing")
            button.btn.btn-light(type="button")
              <i class="fab fa-google-drive"></i> Литература

      include synopsis/_contents.pug

      .row
        .col-md-6
          h3 Конспект

          a(href="https://drive.google.com/drive/folders/1rT-5jYUKVV2ZqQmbgwDK59jFQtNzAsDH?usp=sharing")
            button.btn.btn-light(type="button")
              <i class="fab fa-google-drive"></i> Лекции PL/SQL

          .card
            .card-body
              ul.list-unstyled
                each chapter in chapters
                  li: a(href='html/'+ chapter.number +'-chapter.html')
                    <i class="fas fa-book-open"></i> #{chapter.number} #{chapter.title}

        .col-md-6
          h3 Дополнительные задания

          a(href="./files/Доп. задачи.doc")
            button.btn.btn-light(type="button")
              <i class="fas fa-file-word"></i> Условия доп. заданий

          .card
            .card-body
              +blockLabs
                +extraLink('4', '8', 'Удалить дублирующиеся строки')
                +extraLink('3', '14', 'Пути между городами')
                +extraLink('2', '26', 'Две подстроки')
                +extraLink('1', '7', 'Информация об отделе')


      h3 Блоки
      
      a(href="./files/Блоки. Часть 1.docx")
        button.btn.btn-light(type="button")
          <i class="fas fa-file-word"></i> Блоки. Часть 1
      a(href="./files/Блоки. Часть 2.doc")
        button.btn.btn-light(type="button")
          <i class="fas fa-file-word"></i> Блоки. Часть 2

      -
        var blocks = [
          {number: 4, labs: [
            {number: 14, title: 'Встроенные пакеты Oracle'},
            {number: 15, title: 'Использование динамического SQL'},
            {number: 16, title: 'Конструирование PL/SQL кода'},
            {number: 17, title: 'Создание триггеров'},
          ]},
          {number: 3, labs: [
            {number: 9, title: 'Создание процедур'},
            {number: 10, title: 'Создание функций'},
            {number: 12, title: 'Создание пакетов'},
            {number: 13,  title: 'Работа с пакетами'},
          ]},
          {number: 2, labs: [
            {number: 5, title: 'Управляющие конструкции'},
            {number: 6, title: 'Работа с составными типами данных'},
            {number: 7, title: 'Использование явных курсоров'},
            {number: 8, title: 'Обработка исключений'},
          ]},
          {number: 1, labs: [
            {number: 1, title: 'Введение в PL/SQL'},
            {number: 2, title: 'Объявление переменных PL/SQL'},
            {number: 3, title: 'Команды исполняемой секции'},
            {number: 4, title: 'Взаимодействие с сервером Oracle'},
          ]},
        ];

      .block-cards
        each Block in blocks
          +blockCard
            +blockLink(Block.number)
            +blockLabs
              each lab in Block.labs
                +labLink(Block.number, lab.number, lab.title)

  include views/templates/_footer.pug